$Placeholder-Selectors: ();

@mixin validation-btn(
  $btn-size: 80px, 
  $radius: 50%, 
  $color-ok: #5CC47C, 
  $color-err: #D66B6B,
  $extend: true
){
  @include validation-btn-static($extend);
  height: $btn-size;
  width: $btn-size;   
  border-radius: $radius;
  &:active{
    button{
      &:disabled{
        background-color: $color-err;
      }
    }
  }
  button{
    border-radius: $radius;
    &:enabled{
      background-color: $color-ok;
    }
  }
}

@mixin validation-btn-static($extend: true){
  $button-selector: map-get($Placeholder-Selectors, 'button');

  @if $extend == true {
    @if $button-selector == null {
      $button-selector: unique-id();
      $Placeholder-Selectors: map-merge($Placeholder-Selectors, ('button': $button-selector)) !global;
      
      @at-root %#{$button-selector} {
        @include validation-btn-static(false);
      }
    }
    @extend %#{$button-selector};
  }
  @else {
    position: relative;
    margin: 0 auto;
    padding: 0;
    &:active{
      cursor: none;
      button{
        &:disabled{
          background: url('./svgs/fatX.svg');
          background-size: 100%;
          animation: .5s ease-out .1s shake;
          transition: none;
        }
      }
    }
    button{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: none;
      background: url('./svgs/fatArrow.svg');
      background-size: 100%;
      background-color: #C9C9C9;
      &:focus{
        outline: none
      }
      &:enabled{
        transition: all 0.2s ease;
        transform: translate3d(8px, -8px, 0px);
        box-shadow: -8px 8px 8px rgba(0,0,0,0.17);
        opacity: 0.8;
        cursor: pointer;
        &:active{
          transition: all 0.1s ease;
          box-shadow: 0px 0px 0px rgba(0,0,0,0.1);
          transform: translate3d(0px, 0px, 0px);
          opacity: 1;
        }
      }
      &:disabled{
        transition: all 0.1s ease;
        pointer-events: none;
        box-shadow: 0px 0px 0px rgba(0,0,0, 0.3);
      }
    }

    %small-large{
      &.small{
        height: 50px;
        width: 50px;
      }

      &.large{
        height: 100px;
        width: 100px;
      }
    }

    @keyframes shake {
      10%, 30% {
        transform: translate3d(-1px, 0px, 0px);
      }
      20%, 40% {
        transform: translate3d(5px, 0px, 0px);
      }
      50%, 70% {
        transform: translate3d(-6px, 0px, 0px);
      }
      60%, 80% {
        transform: translate3d(8px, 0px, 0px);
      }
      85%{
        transform: translate3d(-8px, 0px, 0px);
      }
      90%{
        transform: translate3d(5px, 0px, 0px);
      }
      95%{
        transform: translate3d(-3px, 0px, 0px);
      }
    }
  }
}


// various styles

.val-btn{
  @include validation-btn;
}

.val-btn-sm{
  @include validation-btn(50px);
}

.val-btn-lg{
  @include validation-btn(100px);
}

.val-btn-sqr{
  @include validation-btn(80px, 10%);
}

.val-btn-sqr-sm{
  @include validation-btn(50px, 10%);
}

.val-btn-sqr-lg{
  @include validation-btn(100px, 10%);
}

.val-btn-v2{
  @include validation-btn(80px, 50%, #90C3D4, #F2A561);
}

// etc.








