@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  margin: 0;
  font-family: "Helvetica", arial, sans-serif;
}

.header {
  @include clearfix;
  background-color: #1E2D3D;
  padding: 10px;
  margin-bottom: 20px;
}

