@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  margin: 0;
}

.header {
  @include clearfix;
  background-color: #1E2D3D;
  padding: 10px;
  margin-bottom: 20px;

  button {
    color: white;
    background-color: #1ABC96;
    border: none;
    border-radius: 3px;
    float: right;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    -webkit-appearance: none;
  }
}


